.kotak-order {
    display: flex;
}
.kotak-order a {
    text-decoration: none;
}
.btn-create-order {
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    background-color: #c9174c;    
}

.btn-create-order:hover {
    background-color: #0e29d5;
}

.sidebar:hover {
    background-color: #c9174c;
}

.kotak-order img {
    margin: 20px;
}
.btn-create-order p {
    font-weight: bold;
    font-size: 20px;
    margin-top: 45px;
    text-decoration: none;
    margin-right: 20px;
    color: rgb(255, 255, 255);
}

.icon-1, .icon-2{
    height: 24px;
    width: 24px;
}

