@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import './componentstyle/notif.css';

@import './pagesstyle/maintenance.page.css';
@import './pagesstyle/checkout.page.css';
@import './pagesstyle/dashboard.style.css';
@import './pagesstyle/settings.css';


.btn-checkout-input {
    background-color: rgb(255, 0, 0);
    margin-left: 250px;
    border-radius: 60px;
    border: none;
    color:rgb(255, 255, 255);
    min-width: 200px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
}


@media (max-width: 450px) {

}
@media (max-width: 550px) {

}
@media (max-width: 800px) {

}



